
header {
    height: 7rem;
    background-color: #dc1a22;
}

nav {
    height: 7rem;
    background-color: #dc1a22;
}

.nav-link:hover {
    color: rgb(0, 0, 0) !important;

}

.navbar-brand {
    font-size: 2em;
}

#logo {
    margin-top: 0.5rem;
    width: 8rem;
    height: 6rem;
}